<?xml version="1.0"?>
<log4net debug="true">
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="Logs\log.txt" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyy.MM.dd" /> 
    <param name="StaticLogFileName" value="true" />

    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

 

  <root>
    <level value="DEBUG" />
    <appender-ref ref="rollingFile"/>
    <appender-ref ref="ColoredConsoleAppender" />
  </root>

  <logger name="ExceptionLogger" additivity="false">
    <level value="INFO" />
    <appender-ref ref="rollingFile" />
    <appender-ref ref="ColoredConsoleAppender" />
  </logger>
</log4net>
